.GlowingButton {
  --button-color: var(--positive-color);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;

  border-radius: 0.5em;
  background-color: #000000;

  color: var(--button-color);
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0px 0px 0.6em;
}

.GlowingButton:active {
  background-color: var(--button-color);
  color: #000000;
  box-shadow: 0px 0px 0.6em white;
}
