.PositiveButton {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;

  border-radius: 10px;
  border: none;

  background-color: #000000;

  color: #01E71A;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0px 0px 0.6em #01E71A;
}

.PositiveButton:active {
  background-color: #01E71A;
  color: #000000;
  box-shadow: 0px 0px 0.6em white;
}
