.container {
    display: flex;
    flex-direction: column;
}

.activatedSelector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.item {
    width: 100%;
    height: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.itemIcon {
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
}

.itemImage {
    width: 90%;
    height: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImage img {
    overflow: hidden;
    font-size: 0.3em;
    height: 50%;
}

.itemRarity {
    height: 25%;
    width: 90%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border {
    border-color: rgb(96, 96, 96);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.3rem white;
}

.itemMenu {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.itemMenu span {
    display: flex;
    justify-content: center;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.infoWrapper {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.infoWrapper img {
    margin-right: 0.2em;
}