.container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.topSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.topSelector button {
  margin: 0 2vw;
}

.itemSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.itemSelector button {
  margin: 0 2vw;
}

.dropdownItem {
  box-sizing: border-box;
  --glow-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 2rem;
  padding: 0.5rem;
  border-bottom: solid rgba(255, 255, 255, 0.2);
  border-width: 1px;
}

.dropdownItem:active {
  background: rgba(255, 255, 255, 0.2);
}

.dropdownItem img {
  margin-right: 0.2rem;
}

.dropdownItem span {
  font-size: large;
  font-weight: bold;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}