.button {
  --button-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  width: 30vw;

  border-radius: 1em;
  background-color: #000000;
  opacity: 70%;

  color: var(--button-color);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  box-shadow: 0px 0px 0.3em;
}

.active {
  --button-color: var(--positive-color);
  opacity: 100%;
}