/* Style for the top menu */
.nav_top_menu {
  /* Positioning */
  position: fixed;
  top: 0;

  /* Sizing */
  width: 100%;
  height: 10vh;
  min-height: 60px;

  /* Positioning elements inside */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.icons_list_top_menu {
  list-style: none;

  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;

  padding-left: 5%;
  padding-right: 1%;

  width: 100%;
}

.icons_list_top_menu li {
  padding-left: 5px;
  padding-right: 5px;
}

.icons_list_top_menu li:first-child {
  padding-left: 0;
}

.icons_list_top_menu li:last-child {
  padding: 0;
}

.functional_icons_top_menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.icon {
  color: white;
}

.money_section_top_menu {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.balance_top_menu {
  color: white;
  font-weight: bold;

  margin-right: 8px;

  display: flex;
  justify-content: right;

  font-size: 20px;

  /* position: absolute;
    top: 45px;
    right: -5px; */
}

.icons_list_top_menu li:last-child {
  margin-left: auto;
}

.balance_container_top_menu {
  display: flex;
  flex-direction: column;

  justify-content: center;

  row-gap: 5px;
}

.coin_icon_top_menu {
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin_icon_top_menu img {
  width: 25px;
  height: auto;
}

@media (max-height: 550px) {
  .nav_top_menu {
    min-height: 45px;
  }

  .balance_container_top_menu {
    flex-direction: row;
    column-gap: 10px;
  }
}