.container {
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.item {
  width: 60%;
  justify-items: center;
  margin-bottom: 5vh;
}

.image {
  width: 100%;
  filter: drop-shadow(0px 0px 1vh #ffffff);
}

.popUpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw 0 5vw;
}

.popUpDescription {
  padding-bottom: 25px;
}

.popUpButtonContainer {
  font-size: x-large;
  position: sticky;
  bottom: 10px;
}

.imageMint {
  margin-bottom: 0.5em;
}

.imageDrops {
  max-width: 80%;
  max-height: 60%;
  margin-bottom: 0.5em;
}

.button {
  margin-top: 5px;
  background-color: #3EAF07;
  border: 3px solid #01E71A;

  color: white;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;

  width: 100%;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  box-shadow: none;
}

.button:hover {
  filter: drop-shadow(0px 0px 0.3em #00cc00);
}

@media (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .item {
    margin: 5vw;
  }

  .image {
    filter: drop-shadow(0px 0px 1vw #ffffff);
  }

  .popUpContent {
    margin: 0 10vw 0 10vw;
  }
}