/* Reset all default styles */
* {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #000;
  row-gap: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace;
}

.item:first-of-type {
  margin-top: 4vh;
}

.item {
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  height: 30vh;
  width: 55%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid transparent;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 1vh #ffffff);
}

.image-mint {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.image-drops {
  max-width: 80%;
  max-height: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.button {
  margin-top: 5px;
  background-color: #3EAF07;
  border: 3px solid #01E71A;

  color: white;
  text-align: center;
  justify-content: center;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;

  width: 100%;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  box-shadow: none;
}

.button:hover {
  filter: drop-shadow(0px 0px 1vh #00cc00);
}

@media (orientation: landscape) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
    height: calc(100vh - var(--height-of-top-menu) - var(--height-of-bottom-menu))
  }

  .item {
    height: 100%;
    width: auto;
  }

  .image {
    height: 70%;
    width: auto;
  }
}