.container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.textContainer {
    position: relative;
    width: 90%;
    text-align: center;
}

.iconContainer {
    vertical-align: middle;
}
.icon {
    width: 1em;
    height: 1em;
    margin-left: 0.1em;
}
