/* Style for the top menu */
.nav_top_menu {
  /* Positioning */
  position: fixed;
  top: 0;

  /* Sizing */
  width: 100%;

  height: var(--height-of-top-menu);

  /* Positioning elements inside */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;

  z-index: 5;
}

.icons_list_top_menu {
  list-style: none;

  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;

  padding-left: 5%;
  padding-right: 1%;

  width: 100%;
}

.icons_list_top_menu svg {
  color: white;
}

.icons_list_top_menu li {
  padding-left: 5px;
  padding-right: 5px;
}

.icons_list_top_menu li:first-child {
  padding-left: 0;
}

.icons_list_top_menu li:last-child {
  padding: 0;
}

.money_section_top_menu {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.balance_top_menu {
  font-weight: bold;
  margin-right: 8px;
  font-size: 20px;
}

.icons_list_top_menu li:last-child {
  margin-left: auto;
}

.balance_container_top_menu {
  display: flex;
  flex-direction: column;

  justify-content: center;

  row-gap: 5px;
}

@media (max-height: 550px) {
  .nav_top_menu {
    min-height: 45px;
  }

  .balance_container_top_menu {
    flex-direction: row;
    column-gap: 10px;
  }
}