.blockContent {
    width: 70vw;
    min-height: 15vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.input:focus {
    border: none;
    outline: none;
}

.buttonsBlock {
    height: 40px;
    width: 100%;

    margin-top: 20px;

    display: flex;
    justify-content: space-evenly;
}

/* Main */
.centerText {
    display: block;
    text-align: center;
}

/* Deposite && Withdraw PupUps */
.depositeWithdrawContent {
    width: 70vw;
    min-height: 10vh;
    height: fit-content;
}

.depositeWithdrawContent label {
    font-size: small;
    margin-bottom: 5px;
}

.depositeWithdrawContent input {
    height: 30px;
    width: calc(100% - 10px);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.innerButton {
    display: flex;
    flex-direction: row;
}
.innerButton span {
    margin-left: 5px;
}