.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claimedText {
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  color: var(--positive-color);
  text-shadow: 0 0 0.5em var(--positive-color);
}

.freeDropsCount {
  width: 80%;
  padding: 0.3em;
  font-size: x-large;
  text-align: center;
  border-radius: 0.5em;
  border: solid white;
  border-width: 0.1rem;
  margin-bottom: 2rem;
}

.pcContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  margin-bottom: 2rem;
  font-size: x-large;
}

.pcContainer img {
  width: 100%;
  margin-bottom: 1em;  
}

.aiSlideWrapper {
  display: flex;
  justify-content: center;
}

.aiContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  border: solid white;
  border-width: 0.1rem;
  border-radius: 0.5em;
  padding: 0.5em;
}

.aiData {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.01rem solid white;
  font-size: x-large;
}

/* Added flex to the span so that icons would be in line with the text */
.aiData span {
  display: flex;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.aiClaim {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: small;
}

.aiClaim img {
  max-width: 3rem;
  margin-bottom: 0.7rem;
  width: 100%;
}

.aiShow {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aiShow img {
  max-width: 4rem;
  margin: 0.5rem;
  width: 100%;
}

.aiShow:active {
  opacity: 60%;
}

.pcHealth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.healthBar {
  margin-top: 1rem;
  width: 85%;
}

.overPcText {
  display: flex;
  padding: 0 10vw;
  align-items: center;
  text-align: center;
  height: 100%;
  position: fixed;
}