.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claimedText {
  display: flex;
  font-size: xx-large;
  font-weight: bold;
  color: var(--positive-color);
  text-shadow: 0 0 0.5em var(--positive-color);
}

.freeDropsCount {
  width: 80%;
  padding: 0.3em;
  font-size: x-large;
  text-align: center;
  border-radius: 0.5em;
  border: solid white;
  border-width: 0.1rem;
  margin-bottom: 5vh;
}

/* Horizontal container is used because it can change claim pc and claim ai
to row direction while the free drops count stays at the top */
.horizontalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pcContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  margin-bottom: 3vh;
  font-size: x-large;
}

.pcContainer img {
  width: 100%;
  margin-bottom: 1em;  
}

.aiSlideWrapper {
  display: flex;
  justify-content: center;
}

.aiContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  border: solid white;
  border-width: 0.1rem;
  border-radius: 0.5em;
  padding: 0.5em;
}

.aiData {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.01rem solid white;
  font-size: x-large;
}

/* Added flex to the span so that icons would be in line with the text */
.aiData span {
  display: flex;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.aiClaim {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: small;
}

.aiClaim img {
  max-width: 3rem;
  margin-bottom: 0.7rem;
  width: 100%;
}

.aiShow {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aiShow img {
  max-width: 4rem;
  margin: 0.5rem;
  width: 100%;
}

.pcHealth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.healthBar {
  margin-top: 1rem;
  width: 85%;
}

@media (orientation: landscape) {
  .horizontalContainer {
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items:start;
  }

  .pcContainer {
    max-width: 40vw;
    margin-bottom: 0;
  }

  .pcContainer img {
    width: 70%;
  }

  .aiContainer {
    max-width: 30vw;
    flex-direction: column;
  }

  .aiData {
    width: 100%;
    border-right: 0;
    border-bottom: 0.01rem solid white;
  }

  .aiClaim {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
  }
}