.popUpOverlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  transition: opacity 0.5s ease;
}

.popUpOverlay.fade {
  opacity: 1;
}

.popUp {
  padding: 20px;
  padding-bottom: 0;
  max-width: 70vw;
  max-height: 70vh;
  min-height: 30vh;
  min-width: 30vh;
  background-color: #000000;
  box-shadow: 0px 0px 1vh 0.5vh #979797;
  border-radius: 7px;
  overflow-y: scroll;
  position: relative;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popUpDescription {
  padding-bottom: 25px;
}

.popUpButtonContainer {
  width: 120px;
  height: 50px;
  position: sticky;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


/* .popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 65vh;
  background-color: #000000;
  border: 2px solid rgb(62, 62, 62);
  border-radius: 7px;
  color: white;
  z-index: 100;
  filter: drop-shadow(0px 0px 2vh #979797);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpContent {
  width: 80%;
  height: 90%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.PopUpContent img {
  height: 40%;
  max-width: 100%;
}

.PopUpDescription {
  width: 85%;
  margin-top: 10px;
  text-align: start;
}

.greenHighlight {
  filter: drop-shadow(0px 0px 10px #01E71A);
} */